* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #013388 0%, #0194CF 100%);
}

main {
    background-image: url(../img/catalog/catalog-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    user-select: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}